<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>679671513577-b706en96ckgsc6jcmg1q0lkolfu812on.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.679671513577-b706en96ckgsc6jcmg1q0lkolfu812on</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>679671513577-s8du0at1vm7hvufdrvias0b4de42v43q.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyA5VU0n_yaTq3QYIsBJd5RhQHRp0IvzgwQ</string>
	<key>GCM_SENDER_ID</key>
	<string>679671513577</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.chatify</string>
	<key>PROJECT_ID</key>
	<string>chatify-f7440</string>
	<key>STORAGE_BUCKET</key>
	<string>chatify-f7440.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:679671513577:ios:988baf6510d70845814b78</string>
</dict>
</plist>